#dashboard-page {
  display: grid;
  place-items: center;

  &:has(main) {
    display: block;
    place-items: unset;
  }
  
  .dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .statistic-card {
    flex: 1;
  }
}