#dashboard-page {
  display: grid;
  place-items: center;

  &:has(main) {
    display: block;
    place-items: unset;
  }
  
  .dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .statistic-card {
    flex: 1;
  }
}