.chart-canvas {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


    padding: 0;
  }

  .number-chart {
    &__item {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__label {
      color: var(--foreground-muted);
      text-align: center;
    }

    &__value {
      color: var(--brand);
      font-size: 3rem;
    }
  }

  &--numberProcentage {
    .number-chart__value::after {
      content: '%';
    }
  }
}