@use './elements';
@use './colors';
@use './typography';

body {
  @extend %colors;
  @extend %typography;

  box-sizing: border-box;

  --margin-top-bottom: 1rem;
  --margin-left-right: 2rem;
  margin: var(--margin-top-bottom) var(--margin-left-right);

  min-height: calc(100vh - 2 * var(--margin-top-bottom));
  min-width: calc(100vw - 2 * var(--margin-left-right));
}