.statistic-card {
  display: flex;
  flex-direction: column;

  &__title {
    --margin: 0;
  }

  &__subtitle {
    color: var(--foreground-muted);
    --margin: 0;
  }

  &__chart-data {
    flex: 1;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: 1rem;
  }
}